<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean class="com.uswop.pms.commons.MyApplicationContextUtil" lazy-init="false"></bean>
	
	<!-- 资源文件绑定器 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n.messageResource" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	
	
	<bean id="systemConfig" class="com.uswop.pms.commons.SystemConfig" lazy-init="true">
		<property name="apiKey" value="${api.access.key}"/>	
	</bean>
	<bean id="userPointsDao" class="com.uswop.pms.dao.UserPointsDao" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="pointsHistoryDao" class="com.uswop.pms.dao.PointsHistoryDao" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="adminUserDao" class="com.uswop.pms.dao.AdminUserDao" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
	<bean id="adminRoleDao" class="com.uswop.pms.dao.AdminRoleDao" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
	<bean id="userPointsService" class="com.uswop.pms.service.UserPointsServiceImpl" autowire="byName">
		<property name="userPointsDao" ref="userPointsDao"></property>
		<property name="pointsHistoryDao" ref="pointsHistoryDao"></property>
	</bean>
	
	<bean id="pointsHistoryService" class="com.uswop.pms.service.PointsHistoryServiceImpl" autowire="byName">
		<property name="pointsHistoryDao" ref="pointsHistoryDao"></property>
	</bean>	
		
	<bean id="adminUserService" class="com.uswop.pms.service.AdminUserServiceImpl" autowire="byName">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>
		
	<bean id="adminRoleService" class="com.uswop.pms.service.AdminRoleServiceImpl" autowire="byName">
		<property name="adminRoleDao" ref="adminRoleDao"></property>
	</bean>
</beans>